<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Welcome to the express authentication app</a>
</nav>
<div>
  <a class="btn btn-primary btn-lg" href="/login">Login</a>
  <a class="btn btn-primary btn-lg" href="/registration">Register</a>
</div>
